body{
  font-family: monospace, Arial, Helvetica;
  font-size: 18px;
  text-align: center;
  margin: 0;
}

h1{
  color: #2F4F4F;
  margin-top: 0;
}

h3{
  color: #2F4F4F;
}

.top{
  background-color:#8FBC8F;
  position: relative;
  padding-top: 100px;
}

}
.pro {
  text-decoration: underline;
}
.middle{
  background-color: #DCDCDC;
}

.bottom{
  background-color: #DCDCDC;
  margin: 0px;
}

.profilepic{
  border-radius: 100%;
  margin-top: 20px;
}

.topcloud{
  position: absolute;
  right:300px;
  top: 50px;
}
.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

#java-cup{
  width: 25%;
  height: 25%;
}
