body{
  font-family: monospace, Arial, Helvetica;
  font-size: 18px;
  text-align: center;
  margin: 0;
  text-decoration-color:#2F4F4F;
}

h1{
  color: #2F4F4F;
  margin-top: 0;
}

h2{
  margin:0;
}
h3{
  color: #2F4F4F;
}

.top{
  background-color:#8FBC8F;
  position: relative;
  padding-top: 100px;
}
p{
  margin:0;
}
.pro {
  text-decoration: underline;
}
.middle{
  background-color: #DCDCDC;
}

.bottom{
  background-color: #DCDCDC;
}

.profilepic{
  border-radius: 100%;
  margin-top: 20px;
}

.topcloud{
  position: absolute;
  right:300px;
  top: 50px;
}
.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

#mountain{
  position: relative;
  top:5px;
}

#java-cup{
  width: 15%;
  height: 15%;
}

#message{
  width: 15%;
  height: 15%;
}
