body{
  font-family: monospace, Arial, Helvetica;
  font-size: 18px;
  text-align: center;
  margin: 0;
  text-decoration-color:#2F4F4F;
}

hr{
  width:150px;
}

h1{
  color: #2F4F4F;
  margin-top: 0;
  text-align: center;
}

h2{
  margin:0;
  text-align: center;
}
h3{
  color: #2F4F4F;
  margin:50px;
}

p{
  padding-top:10px;
  padding-bottom: 30px;
}

.skills{
  height:300px;
}

#mountain{
  position: relative;
  top:5px;
}

#message{
  width: 5%;
  height: 5%;
}

.top{
  background-color:#8FBC8F;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}
.middle{
  background-color: #DCDCDC;

}

.bottom{
  background-color: #DCDCDC;
}

.profilepic{
  border-radius: 100%;
  margin-top: 20px;
}

.topcloud{
  position: absolute;
  right:300px;
  top: 50px;
}
.bottomcloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.flip-card {
vertical-align: top;
  display:inline-block;
  padding: 10px;
  width: 120px;
  height: 120px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: inherit;
  color: black;
}

/* Style the back side */
.flip-card-back {
  position: relative;
  bottom:120px;
  margin-top: 0px;
  color: #2F4F4F;
  transform: rotateY(180deg);
}
